html, body {
	background-color: #fff;
	margin:0;
	padding:0;
	line-height:1.5em;
	font-family:Helvetica;
}

#contentwrapper{
float: left;
width: 100%;
}

#left {
	float:left;
}

#imgs {
	
}



#hiscore {
	float:right;
	/* width:200px; 
	*/
}

#display-score {
}

#login {
	/*text-align:right;
	width:650px;
	*/
}

.register h2 {
	margin-bottom:0;
	padding:0;
}

.pageheader {
	/* height:50px;
	*/
	margin:0;
	padding:0;
	text-align:left;

}

.container {
	width:900px;
	margin: 5px 10px;
}