{% extends "layout/main.html" %}

{% block body %}

<a href="/right"><img src="{{ img1 }}" /></a>
<a href="/wrong"><img src="{{ img2 }}" /></a>

<div class="answer-div">
	
	
	<form method="POST" action="/answer">
		<legend><h3>left or right?</h3></legend>

		<label for="user">Input user name:</label>
		<input type="text" id="user" name="user">
		
		<br>
		<label>answer</label>

		{# comment - loop through categories and create checkboxes #}
		{% for a in answers|sort %}
		<input type="checkbox" name="answer" value= "{{ a|replace(" ","_") }}" > {{ a }} </input>
		{% endfor %}


		<button type="submit" class="btn btn-primary">submit answer</button>
	</form>
</div>

{% endblock %}


