{% from "_form_helpers.html" import render_textarea %}
{% extends "layout/main.html" %}

{% block body %}
<div id="login">
	{% if user == None %}
	<a href="/login">login</a> or <a href="/register">register</a>
	{% else %}
	<p>You are logged in as <b>{{user}}</b></p>
	<a href="/logout">logout</a>
	{% endif %}
</div>
<div id="left">

	<div id="imgs">
		<form method="POST" action="/rev">
			{% for i in images|sort %}
			<a href="/vote/{{i.id}}"><img src="{{ i.src }}" /></a>
			{% endfor %}
		</form>
	</div>

	<div id="display-score">
		{% if user != None %}
		<h3>SCORE: {{score}}</h3>
		<h3>USER: {{user}}</h3>
		{% else %}
		<h3>SCORE: 0</h3>
		{% endif %}
	</div>

</div>
<div id="hiscore">
	<h2 style="margin-top:0px;padding-top:0px;">HI SCORES</h2>
	{% for u in users %}
	<p><b>{{u.name}}</b> score: {{u.score}}</p>
	{% endfor %}
</div>


{% endblock %}


